<div id="modalChart" class="modal-dialog modal-lg modal">
    <div class="modal-content">
        <canvas id="myChart" width="400" height="0"></canvas>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xl-3">
                <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="JavaScript Object Notation: formato de texto ligero para el intercambio de datos"
                    aria-describedby="tooltip718878">JSON</button>
            </div>
            <div class="col-xl-3">
                <button class="btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Comma-Separated Values: documento donde los datos son representados en forma de tabla, en las que las columnas se separan por comas y las filas por saltos de líneas"
                    aria-describedby="tooltip718878">CSV</button>
            </div>
            <div class="col-xl-3">
                <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Formato de archivo que admite Microsoft Excel"
                    aria-describedby="tooltip718878">XLSX</button>
            </div>
        </div>
    </div>
</div>