    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{{#if d3 }}
    <script src="assets/js/xlsx.full.min.js"></script>
    <script src="assets/js/FileSaver.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/inputTypeNumberPolyfill.js"></script> 
    {{!-- https://gist.github.com/nbouvrette/84ef4f498ac06cdd5b60 --}}
    <script src="assets/js/eventListenerIEPolyfill.js"></script>
{{/if}}
</body>
</html>