{{> head }}
{{> jthead }}
<div class="row">
    <div class="col-lg-6 d-flex justify-content-around">
        <div class="card text-center mb-3">
            <img class="img-platform" src="/assets/img/laptop256.png" alt="Version Web">
            {{!-- <div class="card-header">
                Web
            </div> --}}
            <div class="card-body">
                <h4 class="card-title">Versión web</h4>
                <p class="card-text">Visualización de los datos generados con D3 con salida en formato JSON, CSV y XLSX</p>
                <p class="card-text"> </p>
            </div>
            <div class="card-footer">
                <a href="/d3" class="btn btn-primary">Ir</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-around">
        <div class="card text-center">
            <img class="img-platform" src="/assets/img/phone256.png" alt="Version Movil">
            {{!-- <div class="card-header">
                Móvil
            </div> --}}
            <div class="card-body">
                <h4 class="card-title">Versión móvil</h4>
                <p class="card-text">Aplicación móvil disponible para iOS y Android. La visualización de los datos son
                    con herramientas internas. Los archivos de salida se generan localmente</p>
                <p class="card-text lead">Aún en desarrollo</p>
            </div>
            <div class="card-footer">
                <a href="https://github.com/feguedi/rng-mobile/releases" class="btn btn-primary" target="_blank">Ir</a>
            </div>
        </div>
    </div>
</div>

{{> jtfooter }}

<footer class="creditos">
    <a href='https://www.freepik.es/vector-gratis/diseno-de-aparatos-tecnologicos_953322.htm' target="_blank">
        <p>Vectores creados por d3images</p>
    </a>
</footer>

{{> footer }}
