{{> head }}
    <header class="ht-header">
        <div class="ht-navbar-wrapper ht-navbar-wrapper-sticky bg-primary">
            <div class="container ht-navbar ht-navbar-dark">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <!-- tooltip quitado -->
                        <a href="#!" class="nav-link mixto active" id="cong-mixto">Congruencial Mixto</a><span class="question tooltip">?<span class="tooltiptext">Cuenta como tooltip</span></span>
                    </li>
                    <li class="nav-item">
                        <!-- tooltip quitado -->
                        <a href="#!" class="nav-link multiplicativo" id="cong-multiplicativo">Congruencial Multiplicativo</a><span class="question tooltip">?<span class="tooltiptext">Cuenta como tooltip</span></span>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="jumbotron bg-light mb-0 radius-0">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <h1 class="display-2 display-fix">Gráfico</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8">
                    <form action="/d3" method="post">
                        <label for="inlineFormInputGroup" class="sr-only semilla">Semilla</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0 semilla">
                            <input type="number" maxlength="20" class="form-control form-control-lg semilla" id="inlineSemilla" placeholder="Semilla">
                        </div>
                        <label for="inlineFormInputGroup" class="multiplicador sr-only">Multiplicador</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0 multiplicador">
                            <input type="number" maxlength="20" class="form-control form-control-lg multiplicador" id="inlineMultiplicador" placeholder="Multiplicador">
                        </div>
                        <label for="inlineFormInputGroup" class="sr-only caditiva">Constante Aditiva</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0 caditiva">
                            <input type="number" maxlength="20" class="form-control form-control-lg caditiva" id="inlineCAditiva" placeholder="Constante Aditiva">
                        </div>
                        <label for="inlineFormInputGroup" class="sr-only modulo">Módulo</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0 modulo">
                            <input type="number" maxlength="20" class="form-control form-control-lg modulo" id="inlineModulo" placeholder="Módulo">
                        </div>
                        
                        <button type="submit" class="btn btn-primary btn-lg" id="btn-generar">Generar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <canvas id="myChart" width="400" height="400"></canvas>
    <!-- Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>

        <!-- Tarjeta de descripción -->
        <div class="card">
            <div class="card-header">
                {{ metodo }}
            </div>
            <div class="card-body">
                <blockquote class="card-blockquote">
                    <p>{{ descripcion-metodo }}</p>
                    <footer>
                        <cite title="Author">Raúl Coss Bú</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div id="caption"></div>
    </div>
{{> footer }}
