{{> head }}

{{> jthead }}

<div class="row" id="variables">
    <div class="col-xl-12">
        <form action="" method="" id="form-variables">
            <div class="row d-flex justify-content-around btn-group btn-group-toggle" id="btn-toggle" data-toggle="buttons">
                <label class="btn btn-outline-primary cong active" id="cong-mixto">
                    <input type="radio" value="mixto" name="options" checked>Congruencial Mixto
                </label>
                <label class="btn btn-outline-primary cong" id="cong-multiplicativo">
                    <input type="radio" value="multiplicativo" name="options">Congruencial Multiplicativo
                </label>
            </div>
            <div class="row d-flex justify-content-around">
                <div class="col-lg-3 semilla">
                    <label for="inlineFormInputGroup" class="sr-only semilla">Semilla</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0 semilla">
                        <input name="x" type="number" maxlength="10" class="form-control form-control-lg semilla" id="inlineSemilla"
                            placeholder="Semilla" />
                    </div>
                </div>
                <div class="col-lg-3 multiplicador">
                    <label for="inlineFormInputGroup" class="multiplicador sr-only">Multiplicador</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0 multiplicador">
                        <input name="a" type="number" maxlength="10" class="form-control form-control-lg multiplicador" id="inlineMultiplicador"
                            placeholder="Multiplicador" />
                    </div>
                </div>
                <div class="col-lg-3 caditiva caditiva-label">
                    <label for="inlineFormInputGroup" class="sr-only caditiva">Constante Aditiva</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0 caditiva">
                        <input name="c" type="number" maxlength="10" class="form-control form-control-lg caditiva" id="inlineCAditiva"
                            placeholder="Constante Aditiva" />
                    </div>
                </div>
                <div class="col-lg-3 modulo">
                    <label for="inlineFormInputGroup" class="sr-only modulo">Módulo</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0 modulo">
                        <input name="m" type="number" maxlength="10" class="form-control form-control-lg modulo" id="inlineModulo"
                            placeholder="Módulo" />
                    </div>
                </div>
            </div>
        </form>
        <div class="row d-flex justify-content-around">
            <span style="padding-top: 3%;">
                <button {{!--onclick="open_modal()" type="button" --}} class="btn btn-primary btn-lg" {{!-- data-toggle="modal" data-target="#modalChart" --}}
                    id="btn-generar">Generar</button>
            </span>
        </div>
    </div>
</div>

{{> jtfooter }}

<footer class="creditos">
    <a href="https://github.com/feguedi/rng-web" class="btn btn-outline-primary" target="_blank">
        <span class="fa fa-github-alt mr-2"></span>
        Repositorio en Github
    </a>
</footer>

{{> d3chart }}

<!-- Modal Descripcion -->
<div id="modalDescription" class="modal-dialog modal-lg modal">
    <div class="modal-content">
        <span class="close">&times;</span>

        <!-- Tarjeta de descripción -->
        <div class="card">
            <div class="card-header">
                {{ metodo }}
            </div>
            <div class="card-body">
                <blockquote class="card-blockquote">
                    <p>{{ descripcion-metodo }}</p>
                    <footer>
                        <cite title="Author">Raúl Coss Bú</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
    {{!-- <div id="caption"></div> --}}
</div>

{{> footer }}